include epyt_flow/VERSION
recursive-include epyt_flow/EPANET *
exclude .*
exclude DEVELOPERS.md
exclude REQUIREMENTS-DEV.txt
exclude noxfile.py
exclude Makefile
exclude make.bat
recursive-exclude examples/ *
recursive-exclude paper/ *
recursive-exclude docs/ *
recursive-exclude tests/ *
recursive-exclude .github/ *